
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wrapper-pd{
    width: 100%;
    padding: 0px 18px 0;
    box-sizing: border-box;
    max-width: 1158px;
    margin: 0 auto;
  }
  .wrapper-pd .left{
    float: left;
    width: 20%;
    height: calc(100vh - 62px);
  }
  .wrapper-pd .right{
    float: right;
    width: 80%;
  }
  .clear{clear: both;}
  .form-group p{
    margin-bottom: 0;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .btn-div{
    width: 64%;
    text-align: right;
    margin-left: 377px;
  }
  .wrapper{
    max-width: 100%;
    width: 100%;
    padding: 35px 35px 10px;
  }
  
  .wrapper .title{
    color: #262626;
      background: inherit;
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;
      font-weight: 500;
      font-style: normal;
      padding: 0px 0px 10px;
      margin-bottom: 25px;
      border-bottom: 1px solid #dee2e6;
  }
  .wrapper .form .title{
    color: #262626;
    background: inherit;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    padding: 25px 0px;
  }
  
  .wrapper .form{
    width: 100%;
  }
  
  .wrapper .form .inputfield{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
  }
  
  
  .wrapper .form .inputfield label{
    text-align: right;
    padding-right: 5px;
    margin-top: -12px;
    white-space: normal;
    color: #262626;
    background-color: inherit;
    font-size: 14px;
    flex-wrap: wrap;
    width: 180px;
    padding: 10px 0px;
  }
  
  
  
  .btn{
    width: auto;
    padding: 3px 10px;
    font-size: 12px;
    border: 0px;
    background: #4182c3;
    color: #fff;
    border-radius: 3px;
    outline: none;
  }
  
  .btn:focus {
    outline: 0;
    box-shadow: 0 0 0;
  }
  .form-control {
    display: -webkit-inline-box;
    width: 85%;
    height: 25px;
    padding: 5px 5px;
    font-size: 14px;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    outline: none;
    display: flex;
  }
  .form-control:hover {
    border: 1px solid #4081C5;
  }
  .form-control:focus{
    border: 1px solid #4081C5;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0;
  }
  
  .form-group {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    padding: 0px;
  }
  
  .wrapper .form-group label{
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;
    text-align: right;
  }
  
  .uploadbtn{
    width: auto;
    font-size: 13px;
    border: 0px;
    cursor: pointer;
    border-radius: 2px;
    outline: none;
    align-items: center;
    padding: 2px 16px;
    background: #FFFFFF;
    color: #262626 !important;
    border: 1px solid #D9D9D9 !important;
  }
  
  .upload-btn-wrapper {
      padding:3px;
    position: relative;
    overflow: hidden;
    display: block;
    width: 165px;
    margin-left: 114px;
  }
  
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  .background-image
  {
    background-color: rgb(207, 217, 222);
    min-height: 180px;
    width: calc(34em + 16px);
    margin-left: -36px;
    margin-top: -24px;
    display: flex;
    max-height: 200px;
  }