<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/logo-new.png"
      height="35px"
      alt=""
      data-was-processed="true"
    />
    <span class="logo-text"><span class="yellow">IDEAS</span> HUB <span class="sub-title">[Create,Share,Inspire]</span></span>
  </a>
  <!-- <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa fa-globe"></i> EN
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">DE - Deutsch</a>
          <a class="dropdown-item" href="#">FR - French</a>
          <a class="dropdown-item" href="#">UK - English</a>
        </div>
      </li>
    </ul>
  </div> -->
</nav>
