<div class="jumbotron">
  <div class="sub-content">
    <h1 class="text-center"><span>Idea Hub</span></h1>
    <p class="text-center">
      <span class="text-large text"
        >Manage ideas from customers and teammates, Idea management to extract
        insights and build better products.</span
      >
    </p>
    <div class="text-center">
      <a
        href="#"
        class="btn btn-lg"
        target="_blank"
        style="font-size: 14px; padding: 12px 24px"
        >CONTACT US</a
      >
    </div>
  </div>
</div>
