
#divcontent
{
  margin-top:20px;
}
.fontcolor{
    font-size: 12px;
    color: #9899bd;
    font-weight: 600;
    font-family: sf-pro-text-regular;
    text-transform: uppercase;
    margin-top: 18px;
    display: block;
}
input[type="image" i] {
    appearance: none;
    background-color: initial;
    cursor: pointer;
    padding: initial;
    border: initial;
    border-color: initial;
    border-radius: initial;
    height: 30px;
    width: 30px; 
}
.font {
    color: #333;
    font-size: 12px;
    font-family: sf-pro-text-regular;
}

.SettingsImage {
        margin: 4px 33px;
    }

    .newico-cmpy
    {
        width: 36px !important;
        height: 36px !important;
        opacity: 1;
    }
    /* .OrganisationDiv{
        width: 1100px; 
        margin-top: 5px; 
        border-bottom: 2px solid #d6d6d6;
    } */
    /* .A1{
    width: 120px; 
    display: inline-block;}
    .A2
    {
     width: 100%; 
     float: left;
      margin-left: 12px
    }
    .controlDiv{
        width: 1100px;
         margin-top: 5px;
          border-bottom: 2px solid #d6d6d6;
    } */