<div class="jumbotron">
    <div class="container">
        <div class="content">
            <div class="price-table popular">
                <div class="price-header">
                    <div class="price-paln">
                        <h4>Basic</h4>
                    </div>
                    <div class="line"></div>
                    <div class="price-pay">
                        <h3>$99.99/mon</h3>
                    </div>
                </div>
                <div class="price-info">
                    <p><span>1</span> Organisation</p>
                    <p><span>5</span> Users</p>
                    <p><span>1</span> Project</p>
                    <p><span>1</span> GB File Storage</p>
                    <p><span>No</span> Support</p>
                </div>
                <button class="btn" routerLink="/org/organisation-register">Sign Up</button>
            </div>

            <div class="price-table popular">
                <div class="price-header">
                    <div class="price-paln">
                        <h4>Standard</h4>
                    </div>
                    <div class="line"></div>
                    <div class="price-pay">
                        <h3>$199.99/mon</h3>
                    </div>
                </div>
                <div class="price-info">
                    <p><span>10</span> Organisation</p>
                    <p><span>100</span> Users</p>
                    <p><span>10</span> Project</p>
                    <p><span>20</span> GB File Storage</p>
                    <p><span>24/7</span> Support</p>
                </div>
                <button class="btn" routerLink="/org/organisation-register">Sign Up</button>
            </div>

            <div class="price-table popular">
                <div class="price-header">
                    <div class="price-paln">
                        <h4>Unlimited</h4>
                    </div>
                    <div class="line"></div>
                    <div class="price-pay">
                        <h3>$299.99/mon</h3>
                    </div>
                </div>
                <div class="price-info">
                    <p><span>100</span> Organisation</p>
                    <p><span>100</span> Users</p>
                    <p><span>50</span> Project</p>
                    <p><span>100</span> GB File Storage</p>
                    <p><span>24/7</span> Support</p>
                </div>
                <button class="btn" routerLink="/org/organisation-register">Sign Up</button>
            </div>
        </div>
    </div>
</div>