<footer>
  <div id="copyright" class="copyright__bottom">
    <div class="copyright__bottom_text">
      © 2021
      <a href="https://www.projectobjects.com/" title="Uppwise.">Uppwise.</a>
      All Rights Reserved.
      <div class="menu-footer-menu-copyright-container">
        <ul id="menu-footer-menu-copyright" class="menu">
          <li id="menu-item-13174" class="">
            <a href="#">Terms &amp; Conditions</a>
          </li>
          <li id="menu-item-13175" class="">
            <a href="#">Privacy Policy</a>
          </li>
          <li id="menu-item-13200" class="">
            <a href="#">Privacy Shield Certification</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
