<ng-container *ngIf="forgotPassword">
  <div class="form-title">Change Password</div>
  <form
    [formGroup]="forgotPassword"
    name="forgotPassword"
    (ngSubmit)="forgotPassword.valid && onSubmit()"
  >
    <div class="form-group">
      <!-- <label for="email" id="email" >E-mail<span style="color:rgb(238, 28, 28);font-weight:800;"
      class="form-required">*</span></label> -->
      <input
        type="text"
        class="form-control input-lg"
        value
        size="20"
        id="email"
        name="email"
        formControlName="email"
        [ngClass]="{
          'is-invalid':
            forgotPassword.get('email').touched && forgotPassword.get('email').invalid
        }"
        placeholder="E-mail"
      />
      <div
        *ngIf="forgotPassword.get('email').touched && forgotPassword.get('email').invalid"
        class="invalid-feedback"
      >
        <div
          style="color: rgb(238, 28, 28); font-size: 15px"
          *ngIf="forgotPassword.get('email').errors?.required"
        >
          Please enter your Email
        </div>
        <div
          style="color: rgb(238, 28, 28); font-size: 15px"
          *ngIf="forgotPassword.get('email').errors?.email"
        >
          Email must be a valid email Address
        </div>
      </div>
    </div>

    <div class="form-group">
      <!-- <label for="password" id="password" >Password<span style="color:rgb(238, 28, 28);
  font-weight:800;" class="form-required">*</span></label> -->
      <input
        type="password"
        class="form-control input-lg"
        value
        size="20"
        id="password"
        name="password"
        formControlName="password"
        [ngClass]="{
          'is-invalid':
            forgotPassword.get('password').touched &&
            forgotPassword.get('password').invalid
        }"
        required="true"
        placeholder="New password"
      />

      <div
        *ngIf="
          forgotPassword.get('password').touched && forgotPassword.get('password').invalid
        "
        class="invalid-feedback"
      >
        <div
          style="color: rgb(238, 28, 28); font-size: 15px"
          *ngIf="forgotPassword.get('password').errors?.required"
        >
          This field can not be empty
        </div>
      </div>
    </div>

    <div class="button-border">
      <button type="submit" [disabled]="!forgotPassword.valid" id="login" class="btn">
        <span>Save</span>
      </button>
    </div>
    <div class="register-button">
      <span routerLink="/account/login" routerLinkActive="router-link-active"
        >Login</span
      >
      /
      <span
        routerLink="/account/user-registration"
        routerLinkActive="router-link-active"
        >Sign Up</span
      >
    </div>
  </form>
</ng-container>

<router-outlet></router-outlet>

