<div class="scroll">
    <mat-card-content id="commentunlikes" *ngFor="let commentunlike of CommentUnlikeUserList">
      <div *ngIf=commentunlike.userImage>
        <img mat-card-avatar [src]="commentunlike.userImage" class="example-header-image">
      </div>
      <div *ngIf=!commentunlike.userImage>
        <img mat-card-avatar src="./../../assets/admin.png" class="example-header-image">
      </div>
      <div id="username">{{commentunlike.sourceUser}}</div>
      <div id="useremail">{{commentunlike.emailId}}</div>
    </mat-card-content>
</div>  
