<div class="row">
    <div class="col-sm-12">
        <ul class="list-inline rating-list" 
            *ngFor="let star of stars" style="display: inline-block" >
              <li (click)="countStar(star)"
                  [ngClass]="{'selected': (star <= selectedValue)}"
                  >
                <i class="fa fa-star"></i>
              </li> 
        </ul>
    </div>
    <div class="save-rate">
        <div class="save-rate-btn">
          <button class="btn btn-primary btn-sm" (click)="changeIdeaStatus(idea)">
           
           Approve
          </button>
        </div>
      </div>
  </div>
